<h1>andymori おいでよ</h1>

<% @lines.each do |line| %>
	<%if line.content == ""%>
		<h3>&nbsp;</h3>
		<%=render partial: "/comments/show_comments", locals: {:line_id => line.id, :comments => @comments}%>
		<%=render partial: "/comments/add_comment", locals: {:line_id => line.id}%>
	<%else%>
		<h3><%= line.content %></h3>
		<%=render partial: "/comments/show_comments", locals: {:line_id => line.id, :comments => @comments}%>
		<%=render partial: "/comments/add_comment", locals: {:line_id => line.id}%>
	<%end%>
<%end%>